<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=0, initial-scale=1, minimum-scale=1, width=device-width, height=device-height">
  <!-- PWA primary color -->
  <meta name="theme-color" content="#000000">
  <title>Budget Manager</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
  <div id="render-target"></div>
</head>